<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} - Fish Fry</title>
		{% block head %}{% endblock %}
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
	<body>
		<nav>
			<h1>Fish Fry Orders</h1>
			<ul>
				{% if g.user %}
				<li><a href="{{ url_for('index') }}">Events</a></li>
				<li><a href="{{ url_for('order.order_index') }}">Orders</a></li>
				<li><span>{{ g.user['username'] }}</span></li>
				<li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
				{% else %}
				<li><a href="{{ url_for('auth.register') }}">Register</a>
				<li><a href="{{ url_for('auth.login') }}">Log In</a>
				{% endif %}
			</ul>
		</nav>
		<section class="content">
			<header>
				{% block header %}{% endblock %}
			</header>
			
			{% for message in get_flashed_messages() %}
				<div class="flash">{{ message }}</div>
			{% endfor %}
			
			{% block content %}{% endblock %}
			
		</section>
		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>